extends layout

block variables
  - var title = "Good Morning"

block content
  h2.text-center Good Morning

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Good Morning.
  
  p You have earned #{points} points.