extends layout

block variables
  - var title = "Home"

block content
  h2#date.text-center
  h3#time.text-center
  p You deserve #{points} points

  form(action="/", method='post')
    label= question
        input(type="text", name="userAnswer")
    button(type="submit") I'm awake

  p !{JSON.stringify(scoreBoard)}

  ul
    each user in scoreBoard
      li= user